{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card" id="note-form">
            <div class="card-header">
                Add Note
            </div>
            <div class="card-body">
                <form action="/add_note" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title of the Note" required>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content:</label>
                        <input type="text" class="form-control" id="content" name="content" placeholder="Enter content of the Note" required>
                    </div>
                    <div class="mb-3">
                        <label for="priority" class="form-label">Priority:</label>
                        <select class="form-select" id="priority" name="priority">
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
